<!DOCTYPE html>
<html>
<head>
    <title>Table Display</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <style>
        .path-cell {
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }

        .query-cell {
            max-height: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize DataTables
            var table = $('#table').DataTable({
                pageLength: 50,
                columnDefs: [
                    {
                        targets: 5,
                        render: function (data, type, row) {
                            if (type === 'display' && data.length > 30) {
                                var shortenedPath = data.substr(0, 4) + '...\\' + data.split('\\').slice(-4).join('\\');
                                return shortenedPath;
                            }
                            return data;
                        }
                    },
                    {
                        targets: 11,
                        render: function (data, type, row) {
                            if (type === 'display' && data.length > 70) {
                                return data.substr(0, 70) + '...';
                            }
                            return data;
                        }
                    }
                ]
            });

            // Handle click event on 'path-cell' class
            $('#table tbody').on('click', '.path-cell', function () {
                // Get the full path name
                var path = $(this).data('path');

                // Display the full path in an alert or any other way you prefer
                alert(path);
            });

            // Handle click event on 'query-cell' class
            $('#table tbody').on('click', '.query-cell', function () {
                // Get the full query
                var query = $(this).data('query');

                // Display the full query in an alert or any other way you prefer
                alert(query);
            });
        });
    </script>
</head>
<body>
    <table id="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Report Name</th>
                <th>Server Name</th>
                <th>Path Name</th>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Modified By</th>
                <th>Datalayer ID</th>
                <th>Connection ID</th>
                <th>ServerConnection</th>
                <th>Query</th>
                <th>Data Hash</th>
                <th>Object</th>
                <th>Date Extracted</th>
                <th>Valid From</th>
                <th>Valid To</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
            <tr>
                <td>{{ row.ID }}</td>
                <td>{{ row.Domain }}</td>
                <td>{{ row.ReportName }}</td>
                <td>{{ row.ServerName }}</td>
                <td class="path-cell" data-path="{{ row.PathName }}">{{ row.PathName }}</td>
                <td>{{ row.DateCreated }}</td>
                <td>{{ row.DateModified }}</td>
                <td>{{ row.ModifiedBy }}</td>
                <td>{{ row.DatalayerID }}</td>
                <td>{{ row.ConnectionID }}</td>
                <td>{{ row.ServerConnection }}</td>
                <td class="query-cell" data-query="{{ row.Query }}">{{ row.Query }}</td>
                <td>{{ row.DataHash }}</td>
                <td>{{ row.Object }}</td>
                <td>{{ row.DateExtracted }}</td>
                <td>{{ row.ValidFrom }}</td>
                <td>{{ row.ValidTo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
